<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bubble Chart v4 - vallandingham.me</title>
  <meta name="description" content="Using D3v4 to create a Bubble chart. Based on NYT visualization">
  <meta name="author" content="Jim Vallandingham">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="static/reset.css">
  <link rel="stylesheet" href="static/bubble_chart.css">
</head>
<body>
  <div class="container">
    <h1>Marble Madness</h1>
    <div id="vis"></div>
    <div class="footer">
      <p>Pretty dashboard that shows us the cheddar.</p>
      <strong>Build using d3 by team Marble Madness (Ching, Beto, Andrew)</strong>
    </div>
  </div>

  <script src="//d3js.org/d3.v4.min.js"></script>
  <script src="src/bubbles_2.js"></script>

</body>
</html>
